<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.76.0" targetFramework="net40" />
  <package id="CsvHelper" version="2.11.1.1" targetFramework="net40" />
  <package id="CsvHelper.Excel" version="1.0.5" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net40" />
  <package id="DotSpatial.Data" version="1.7" targetFramework="net40" />
  <package id="DotSpatial.Mono" version="1.7" targetFramework="net40" />
  <package id="DotSpatial.Projections" version="1.7" targetFramework="net40" />
  <package id="DotSpatial.Serialization" version="1.7" targetFramework="net40" />
  <package id="DotSpatial.Topology" version="1.7" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
</packages>